# ignore all files but allow directories
*
!*/

# allow .gitignore file
!.gitignore

# allow ls-R
!ls-R

# only allow pdf files in /doc
!/doc/**/*.pdf

# only allow sty and cls files in /tex/latex
!/tex/latex/**/*.sty
!/tex/latex/**/*.cls

# allow all files in /source
#!/source/**/*

# allow relevant files in /source
!/source/latex/**/.latexmkrc
!/source/latex/**/docstrip.cfg  
!/source/latex/**/*.dtx
!/source/latex/**/*.ins
!/source/latex/**/*.bat
!/source/latex/**/*.sh

# ignore log files
*.log

# ignore vim files
*.swp

# ignore git files
*.orig
